extends layout

block content
  div.ui.container
    div.ui.middle.aligned.center.aligned.grid
      div.column
        div.ui.divider.hidden
        div.ui.divider.hidden
        div.ui.divider.hidden
        form.ui.huge.form.very.padded.compact.segment.blue(method="post", action="/login")
          h1= title
          div.field
            input(type="text", name="email", id="email", placeholder="Email", value="demo@pegke.com")
          div.field
            input(type="password", name="pass", id="pass", placeholder="Password", value="123")
          div.field
            button.ui.fluid.green.massive.button(type="submit") Sign In

