div.fields
  div.field
    label= "Shipper ID"
    input(type="text", name="shipperId", id="shipperId", placeholder="Shipper ID", value="")
  div.field
    label= "Shipper Name"
    input(type="text", name="shipperName", id="shipperName", placeholder="Shipper Name", value="")

div.fields
  div.field
    label= "Client ID"
    input(type="text", name="clientId", id="clientId", placeholder="Client ID", value="")
  div.field
    label= "Client Name"
    input(type="text", name="clientName", id="clientName", placeholder="Client Name", value="")
