form.ui.form.equal.width(id="basefrm")
  div.fields
    div.field
      label= "Shipper ID"
      input(type="text", name="email", id="email", placeholder="Email", value="")
    div.field
      label= "Shipper Name"
      input(type="text", name="email", id="email", placeholder="Email", value="")

  div.fields
    div.field
      label= "Client ID"
      input(type="text", name="email", id="email", placeholder="Email", value="")
    div.field
      label= "Client Name"
      input(type="text", name="email", id="email", placeholder="Email", value="")
