div.ui.container
  div.ui.secondary.pointing.menu
    a.launch.icon(href='/')
      img(src="/images/Maersk_Line_Logo.png", width="250")
      if isloggedin
        a.item(href='/partners') Partners
        a.item(href='/clients') Clients
        a.item(href='/shipments') Shipments
    div.right.menu
      if isloggedin
        a.item(href='/logout') Logout
      else
        a.item(href='/auth') Login/Sign Up
div.ui.divider.hidden
