extends layout

block content
  div.ui.container
    h1= title
    p Completely disintermediate market-driven
    div.ui.divider
    a.ui.basic.button(href="/shipment-new") Add New
    table.ui.celled.table
      thead
        tr
          th #
          th Partner(s)
          th Client(s)
          th Action
      tbody
        tr
          td 1
          td cell 1
          td cell 2
          td cell 3

