body{padding: 25px 0}
body>.grid{height:100%;}
.image{margin-top:-100px;}
.column{max-width:550px;}
.steps{display: none;}
.text { font-size: 1.2rem;}
div.ui.very.relaxed.divided.list { text-align: left; }
.fixed.bottom.menu { bottom: 0; top: auto;}
.container.footer {font-size: 0.9rem !important; padding: 10px 0;}
div.ui.label.right.floated { float: right !important}
